{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>L.I.B.R.E.</title>

        <meta charset="utf-8" />

        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'packages/backgrid-master/lib/backgrid.css' %}" />
        <link rel="stylesheet" href="{% static 'packages/backgrid-paginator-master/backgrid-paginator.css' %}" />
        <style>
            .backgrid th {
              border: 1px solid #DDD;
            }

            .backgrid td {
              border: 1px solid #DDD;
            }

        </style>
    </head>
    <body>
        <div class="row-fluid">
          <div class="span12">
            <div id="grid"></div>
          </div>
        </div>
        <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'packages/underscorejs-1.5.2/underscore-min.js' %}"></script>

        <script src="{% static 'packages/backbone-1.1.0/backbone-min.js' %}"></script>
        <script src="{% static 'packages/backbone-pageable-1.4.2/lib/backbone-pageable.min.js' %}"></script>
        <script src="{% static 'packages/backgrid-master/lib/backgrid.js' %}"></script>
        <script src="{% static 'packages/backgrid-paginator-master/backgrid-paginator.js' %}"></script>

        <script>
            var columns = [
                {
                    name: "_id",
                    label: "{% trans 'ID' %}",
                    editable: false,
                    cell: Backgrid.IntegerCell.extend({
                        orderSeparator: ''
                    })
                },
                {% for column in source.columns.all %}
                    {
                        name: "{{ column.name }}",
                        cell: "string",
                        editable: false,
                    },
                {% endfor %}
            ];

            var Entries = Backbone.PageableCollection.extend({
              state: {
                pageSize: {{ template_extra_context.page_size|default:20 }},
              },
              mode: "client"
            });

            var entries = new Entries({{ data|safe }});

            var grid = new Backgrid.Grid({
              columns: columns,
              collection: entries
            });

            var paginator = new Backgrid.Extension.Paginator({
              collection: entries
            });

            var $datagrid = $("#grid");
            $datagrid.append(grid.render().$el)
            $datagrid.append(paginator.render().$el);
        </script>
    </body>
</html>
