{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load version_tags %}

{% block content %}
    <table class="table table-striped table-bordered table-hover">
      <caption>{% trans 'Available Datasets' %}</caption>
      <thead>
        <tr>
          <th>{% trans 'Image' %}</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Description' %}</th>
          <th>{% trans 'Latest data' %}</th>
        </tr>
      </thead>
      <tbody>
          {% for source in sources %}
            <tr {% if not source.versions.latest %}class="error"{% endif %}>
                <td style="text-align: center;">
                    {% if source.image %}
                        <img src="{{ source.showcase_image.url }}"/>
                    {% else %}
                        <img class="img-polaroid" data-src="holder.js/50x50/text:{% trans 'No Image' %}">
                    {% endif %}
                </td>
                <td><a href="{{ source.get_absolute_url }}">{{ source }}</a></td>
                <td>{{ source.description }}</td>
                <td style="white-space:nowrap;">{{ source.versions.latest.datetime }}</td>
            </tr>
         {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script src="{% static 'packages/holder-2.2.0/holder.js' %}"></script>
{% endblock javascript %}
