{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load version_tags %}

{% block content %}
      <div class="masthead">
        <ul class="nav pull-right">
            {% if request.user.is_anonymous %}
                <li><span>{% blocktrans with request.user as user %}Not logged in{% endblocktrans %}<a href="{% url 'rest_framework:login' %}?next=/"> ({% trans 'Login' %})</a></span></li>
            {% else %}
                <li><span>{% blocktrans with request.user as user %}Logged in as: {{ user }}{% endblocktrans %}<a href="{% url 'rest_framework:logout' %}?next=/"> ({% trans 'Logout' %})</a></span></li>
            {% endif %}
            <li><span><a href="{% url 'auth_token_obtain' %}">{% trans 'Obtain API token' %}</a></span></li>
        </ul>
        <h3><a href='{% url "home" %}'>{% trans 'LIBRE' %}</a></h3>
      </div>

      <hr>

      <div class="jumbotron">
        <img src="{% static 'images/libre_logo.png' %}" />
        <h1>{% trans 'L.I.B.R.E.' %}</h1>
        <h5>{% trans '(Large Information Batch Restructuring Engine)' %}</h5>
        <p class="lead">{% trans 'FOSS data restructuring, versioning and exporting tool' %}</p>
        <a class="btn btn-large btn-success" href="{% url 'api_root' %}">{% trans 'API' %}</a>
        <a class="btn btn-large btn-success" href="{% url 'query_builder:index' %}">{% trans 'Query builder' %}</a>
        <a class="btn btn-large btn-success" href="{% url 'admin:index' %}">{% trans 'Admin interface' %}</a>
      </div>
{% endblock %}

{% block footer %}
      <div class="footer">
        <p>{% project_version as project_version %} {% blocktrans with project_version as project_version %}Version: {{ project_version }}{% endblocktrans %}<br/>
        {% trans 'Copyright &copy; 2013 Office of the Chief Information Officer, Commonwealth of Puerto Rico' %}<br/>
        {% trans 'Created by Roberto Rosario' %}</p>
      </div>
{% endblock %}
