{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        </ul>
        <h3 class="muted">{% trans 'LIBRE' %}</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <img src="{% static 'images/libre_logo.png' %}" />
        <h1>{% trans 'L.I.B.R.E.' %}</h1>
        <h5>{% trans '(Large Information Batch Restructuring Engine)' %}</h5>
        <p class="lead">{% trans 'FOSS data restructuring, versioning and exporting tool' %}</p>
        <a class="btn btn-large btn-success" href="{% url 'api_root' %}">{% trans 'API' %}</a>
        <a class="btn btn-large btn-success" href="{% url 'libre_client' %}">{% trans 'Interactive client' %}</a>
        <a class="btn btn-large btn-success" href="{% url 'admin:index' %}">{% trans 'Admin interface' %}</a>
      </div>
{% endblock %}

{% block footer %}
      <div class="footer">
        <p>{% trans 'Copyright &copy; 2013 Office of the Chief Information Officer, Commonwealth of Puerto Rico' %}</p>
        <p>{% trans 'Created by Roberto Rosario' %}</p>
      </div>
{% endblock %}
